

:root {
  --color-primary: #5d45fd;
  --color-secondary: #ede9fe;
  --color-background: #161616;
  --font-primary: 'Montserrat', sans-serif;

  --font-s-base: 1rem;
  --font-s-h1: 1.5rem;
  --font-s-h2: 1.4rem;
  --font-s-h3: 1.3rem;
  --font-s-h4: 1.2rem;
}

.text-gradient {

  background: linear-gradient(90deg, rgba(93,69,253,0.7483368347338936) 0%, rgba(93,69,253,1) 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  text-fill-color: transparent; 
}


h1{
  font-size: var(--font-s-h1) !important;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  background-image: linear-gradient(rgba(73, 28, 146, 0.8), rgba(27, 32, 99, 0.712));
  background-blend-mode: multiply; 
  color: var(--color-secondary);
  position: relative; 
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-content{
  margin-top: 1rem;  
  flex-grow: 1;  
  padding:  1rem 2rem;  
}

.svg-lang{
  margin-top: 0.3rem;
  width: 2rem;
  height: 2rem;
}

.home-content{
  display: flex;
  justify-content: center;
  gap: 2rem;
  min-height: 90vh;
}



.column-1{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;  
  max-width: 670px
}

.column-2{
  flex: 1;
  max-width: 670px;
}

.home-title{
  font-size: 3.5rem !important;
  font-weight: bold;
  min-height: 260px;
  max-height: 260px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


.radial-bg {
  position: fixed;
  top: -0%;
  left: -55%;
  width: 90rem;
  height: 90rem;
  border-radius: 100%;
  background: rgb(93, 69, 253);
  background: radial-gradient(
    circle,
    rgba(93, 69, 253, 1) 0%,
    rgba(93, 69, 253, 0) 50%
  );
  opacity: 0.4;
  z-index: -1000;
}
.radial-bg-2 {
  position: fixed;
  top: -50%;
  right: -55%;
  width: 80rem;
  height: 80rem;
  border-radius: 100%;
  background: rgb(93, 69, 253);
  background: radial-gradient(
    circle,
    rgba(93, 69, 253, 1) 0%,
    rgba(93, 69, 253, 0) 50%
  );
  opacity: 0.4;
  z-index: -1000;
}

.svg-footer{
  fill: white !important;
  color: white !important;
}
.invert {
  filter: invert(1);
}

.client-img-a{
  background-image: url("../../public/icons/condor.png");
  background-size: cover;
}
.client-img-p{
  background-image: url("../../public/icons/payconer.png");
  background-size: cover;
}
.client-img{
  background-image: url("../../public/icons/as.png");
  background-size: cover;
}

.text-container {
  position: relative;
  overflow: hidden;
  min-width: 150px;
  height: 40px;
  text-align: center;
}

.text {
  position: absolute;
  width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  margin: 0;
  line-height: 40px;
  font-weight: bold;
}

.text.down {
  transform: translateY(100%); 
  opacity: 0;
}

.text.up {
  transform: translateY(100%);
  opacity: 0; 
}

.text-container .up {
  opacity: 1; 
  transform: translateY(0);
}


.services-section .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 20px;
  padding: 2rem; /* Agregado para un mejor espaciado interno */
  
}

.section-title{
  font-size: var(--font-s-h2);
  text-align: center;
  margin-bottom: 1.5rem;  
  font-weight: bold;
  text-transform: uppercase;
  
}

.service-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.03);;
padding: 2rem;
text-align: center;
width: 25rem;
line-height: 1.9;
height: auto;
transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}

.service-subtitle{
  font-size: var(--font-s-h3);
  font-weight: bold;
  
}

.service-price{
  margin: 0.5rem 0;
  font-size: 2rem;
  font-weight: bolder;
}

.service-description{
  margin-top: 1rem;
  font-size: 0.9rem;
}

.service-features{
  width: 90%;
  margin: 1rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.service-features li{
  font-size: 0.8rem;
  line-height: 3;
}


.mobile-menu {
  position: absolute; 
  top: 102%; 
  right: 0; 
  width: 100%; 
  min-width: 200px; 
  background: var(--color-background);
  z-index: 90; /* Coloca encima de otros elementos */
  transition: transform 0.3s ease-in-out; /* Transición suave */
  animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.footer{
  display: flex; 
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  background-color: var(--color-background); 
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
}



@media (min-width: 427px) and (max-width: 770px){
  .home-content{
    flex-direction: column;
  }
  .home-title{
    font-size: 2.5rem !important;
    text-align: center;
    min-height: auto;
  }
  .column-1{
    gap: 3rem;
  }
  
  .footer{
    flex-direction: column;
  }
}

@media (min-width: 300px) and (max-width: 426px){
  .home-content{
    flex-direction: column;
  }
.column-1{
    gap: 2rem;
  }
  .home-title{
    font-size: 2.5rem !important;
    text-align: center;    
    margin-bottom: 2rem;
  }
  .footer{
    flex-direction: column;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
.column-1{
  gap: 2rem;
}

  .home-title{
    min-height: 200px;
    font-size: 3rem !important;
  }
}
@media (min-width: 1000px) and (max-width: 1280px) {
  .column-1{
    gap: 3rem;
  }
  
    .home-title{
      min-height: 200px;
      font-size: 2.8rem !important;
    }
  }