

:root {
  --color-primary: #5d45fd;
  --color-secondary: #ede9fe;
  --color-background: #161616;
  --font-primary: 'Montserrat', sans-serif;

  --font-s-base: 1rem;
  --font-s-h1: 1.5rem;
  --font-s-h2: 1.4rem;
  --font-s-h3: 1.3rem;
  --font-s-h4: 1.2rem;
}

.text-gradient {

  background: linear-gradient(90deg, rgba(93,69,253,0.7483368347338936) 0%, rgba(93,69,253,1) 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  text-fill-color: transparent; 
}

html{
  
  scroll-behavior: smooth;
}


h1{
  font-size: var(--font-s-h1) !important;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  background-image: linear-gradient(rgba(73, 28, 146, 0.8), rgba(27, 32, 99, 0.712));
  background-blend-mode: multiply; 
  color: var(--color-secondary);
  position: relative; 
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.main-content{ 
  flex-grow: 1;  
  padding:  1rem 2rem;
  z-index: 80 ;  
}

.svg-lang{
  margin-top: 0.3rem;
  width: 2rem;
  height: 2rem;
}

.section-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-content{
  display: flex;
  justify-content: center;
  gap: 2rem;
  min-height: 100vh;
  padding-top: 5rem;
  /*margin-bottom: 11rem ;*/
}
.column-1{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;  
  max-width: 670px
}

.column-2{
  flex: 1;
  max-width: 670px;
}

.home-title{
  font-size: 3.5rem !important;
  font-weight: bold;
  min-height: 260px;
  max-height: 260px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


.radial-bg {
  position: fixed;
  top: -0%;
  left: -50%;
  width: 100rem;
  height: 100rem;
  border-radius: 100%;
  background: rgb(93, 69, 253);
  background: radial-gradient(
    circle,
    rgba(93, 69, 253, 1) 0%,
    rgba(93, 69, 253, 0) 50%
  );
  opacity: 0.4;
  z-index: -1000;
}
.radial-bg-2 {
  position: fixed;
  top: -50%;
  right: -30%;
  width: 80rem;
  height: 80rem;
  border-radius: 100%;
  background: rgb(93, 69, 253);
  background: radial-gradient(
    circle,
    rgba(93, 69, 253, 1) 0%,
    rgba(93, 69, 253, 0) 50%
  );
  opacity: 0.4;
  z-index: -1000;
}

.svg-footer{
  fill: white !important;
  color: white !important;
}
.invert {
  filter: invert(1);
}

.client-img-a{
  background-image: url("../../public/icons/condor.png");
  background-size: cover;
}
.client-img-p{
  background-image: url("../../public/icons/payconer.png");
  background-size: cover;
}
.client-img{
  background-image: url("../../public/icons/as.png");
  background-size: cover;
}

.text-container {
  position: relative;
  overflow: hidden;
  min-width: 150px;
  height: 40px;
  text-align: center;
}

.text {
  position: absolute;
  width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  margin: 0;
  line-height: 40px;
  font-weight: bold;
}

.text.down {
  transform: translateY(100%); 
  opacity: 0;
}

.text.up {
  transform: translateY(100%);
  opacity: 0; 
}

.text-container .up {
  opacity: 1; 
  transform: translateY(0);
}


.swiper-pagination-bullet{
background: white !important;
}

.services-section .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 20px;
  padding: 1rem;
  
}

.section-title{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;  
  font-weight: bold;
  text-transform: uppercase;
  
}

.section-subtitle{
  font-size: var(--font-s-h3);
  text-align: center;
  margin-bottom: 2rem;

}

.service-card{
  display: flex;
  flex-direction: column;
padding: 4rem 2rem 2rem 2rem;
text-align: left;
width: 25rem;
line-height: 1.9;
height: auto;
transition: transform 0.3s, box-shadow 0.3s;
background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 20px;
border: 1px solid;
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
position: relative;
}


.service-subtitle{
  font-size: 1.2rem;
  font-weight: bold;
  
}
.service-from{
  margin-top: 1.3rem;
}

.service-price{
  display: flex;
  text-align: center;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: bolder;
  color: gray;
}

.service-description{
  margin-top: 1rem;
  font-size: 0.9rem;
}

.service-features{
  width: 100%;
  margin: 1rem 0;
}

.service-features li{
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1rem;
  font-size: 0.75rem;
  line-height: 5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.192);
}

.service-features li:last-child {
  border-bottom: none;
}

.service-delivery{
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  text-align: center;
  width: 28%;
  padding: 0.2rem 0.3rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.10);
  font-size: 0.7rem;
  font-weight: 600;
  transition: 0.2s ease;
}


.icon-list{
  font-size: 1.2rem !important;
}



.mobile-menu {
  transition: 0.2s ease;   
  opacity: 0; 
}
.z-neg-10 {
  z-index: -10;
}

.mobile-menu.open {
  animation: slideIn 0.2s forwards; 
  opacity: 1; 
  visibility: visible; 
}

.mobile-menu.closing {
  animation: slideOut 0.2s forwards;
  z-index: -1;
}

.close{
  animation: close 0.3s forwards;
  transform-origin: top;
}

@keyframes close {
  0% {
    transform: scaleY(1)
  }
  100% {
    transform: scaleY(0)
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%); 
  }
}

.footer{
  display: flex; 
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  background-color: var(--color-background); 
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  width: 100%;
  max-width: 100vw;
}



@media (min-width: 427px) and (max-width: 770px){
  .home-content{
    flex-direction: column;
  }
  .home-title{
    font-size: 2.5rem !important;
    text-align: center;
    min-height: auto;
    max-height: 300px;
  }
  .column-1{
    gap: 3rem;
  }
  
  .footer{
    flex-direction: column;
  }

  .service-card:hover {
    transform: translateY(0px);
  }
}

@media (min-width: 300px) and (max-width: 426px){
  .home-content{
    flex-direction: column;
  }
.column-1{
    gap: 2rem;
  }
  .home-title{
    font-size: 2.5rem !important;
    text-align: center;    
    margin-bottom: 2rem;
  }
  .footer{
    flex-direction: column;
  }
  
  .services-section .container{
    padding: 0.5rem 0;
    border: none;
  }
  .service-card{
    padding: 2rem 1.2rem;
  }
  .service-subtitle{
    padding-top: 1.4rem;
  }
  
}

@media (min-width: 1280px) and (max-width: 1366px) {
.column-1{
  gap: 2rem;
}

  .home-title{
    min-height: 200px;
    font-size: 3rem !important;
  }
}
@media (min-width: 1000px) and (max-width: 1280px) {
  .column-1{
    gap: 3rem;
  }
  
    .home-title{
      min-height: 200px;
      font-size: 2.8rem !important;
    }
  }

  .spinner{
    margin-top: 7rem;
    width: 95vw;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .loader:before , .loader:after{
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
  }
  .loader:after {
    box-shadow: 0 2px 0 var(--color-primary) inset;
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    0% {  transform: rotate(0)}
    100% { transform: rotate(360deg)}
  }
      