

:root {
  --color-primary: #5d45fd;
  --color-secondary: #ede9fe;
  --color-background: #161616;
  --font-primary: 'Montserrat', sans-serif;

  --font-s-base: 1rem;
  --font-s-h1: 1.5rem;
  --font-s-h2: 1.4rem;
  --font-s-h3: 1.3rem;
  --font-s-h4: 1.2rem;
}

.text-gradient {

  background: linear-gradient(90deg, rgba(93,69,253,0.7483368347338936) 0%, rgba(93,69,253,1) 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  text-fill-color: transparent; 
}


h1{
  font-size: var(--font-s-h1) !important;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  background-image: linear-gradient(rgba(73, 28, 146, 0.8), rgba(27, 32, 99, 0.712));
  background-blend-mode: multiply; 
  color: var(--color-secondary);
}

.svg-lang{
  margin-top: 0.3rem;
  width: 2rem;
  height: 2rem;
}

.home-content{
  display: flex;
  justify-content: center;
  gap: 2rem;
  min-height: 100vh;
}



.column-1{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;  
  max-width: 670px
}

.column-2{
  flex: 1;
  max-width: 670px;
}

.home-title{
  font-size: 3.5rem !important;
  font-weight: bold;
  min-height: 260px;
  max-height: 260px;
}

@media (max-width: 640px){
  .home-content{
    flex-direction: column;
  }
  .home-title{
    font-size: 2.5rem !important;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
.column-1{
  gap: 2rem;
}

  .home-title{
    min-height: 200px;
    font-size: 3rem !important;
  }
}
@media (min-width: 1000px) and (max-width: 1280px) {
  .column-1{
    gap: 3rem;
  }
  
    .home-title{
      min-height: 200px;
      font-size: 2.8rem !important;
    }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;


.radial-bg {
  position: fixed;
  top: -0%;
  left: -55%;
  width: 90rem;
  height: 90rem;
  border-radius: 100%;
  background: rgb(93, 69, 253);
  background: radial-gradient(
    circle,
    rgba(93, 69, 253, 1) 0%,
    rgba(93, 69, 253, 0) 50%
  );
  opacity: 0.4;
  z-index: -1000;
}
.radial-bg-2 {
  position: fixed;
  top: -50%;
  right: -55%;
  width: 80rem;
  height: 80rem;
  border-radius: 100%;
  background: rgb(93, 69, 253);
  background: radial-gradient(
    circle,
    rgba(93, 69, 253, 1) 0%,
    rgba(93, 69, 253, 0) 50%
  );
  opacity: 0.4;
  z-index: -1000;
}

.svg-footer{
  fill: white !important;
  color: white !important;
}
.invert {
  filter: invert(1);
}

.client-img-a{
  background-image: url("../../public/icons/condor.png");
  background-size: cover;
}
.client-img-p{
  background-image: url("../../public/icons/payconer.png");
  background-size: cover;
}
.client-img{
  background-image: url("../../public/icons/as.png");
  background-size: cover;
}

.text-container {
  position: relative;
  overflow: hidden;
  min-width: 150px;
  height: 40px;
  text-align: center;
}

.text {
  position: absolute;
  width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  margin: 0;
  line-height: 40px;
  font-weight: bold;
}

.text.down {
  transform: translateY(100%); 
  opacity: 0;
}

.text.up {
  transform: translateY(100%);
  opacity: 0; 
}

.text-container .up {
  opacity: 1; 
  transform: translateY(0);
}
